
<div id="home">
    

    <div class="landing-text text-center">
      <h1>Polus</h1>
      <h3>Ask me something?</h3>
    </div>

    <div class="top-buffer"></div>

    <div class="container" style="margin-right: 0">
      <div class="row text-center">
        <div class="col-4">
          <button class="btn" name="questionBtn" (click)="clickQuestion()">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Ask a Question</span>
          </button>
        </div>
        <div class="col-4">
          <button class="btn" name="createSurveyBtn" (click)="clickCreate()">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Build a Survey</span>
          </button>
        </div>
        <div class="col-4">
          <button class="btn" name="takeSurveyBtn" *ngIf="isLoggedIn" (click)="clickContribute()">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Contribute Knowledge</span>
          </button>
          <button class="btn" name="registerBtn" *ngIf="!isLoggedIn" (click)="clickRegister()">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Contribute Knowledge</span>
          </button>
        </div>
      </div>
    </div>

</div>